input#ma_hd{
    width: 25%;
}
button#xac_nhan{
    padding: 12px;
}

#khung_kq{
    width: 75%;
}
#khung_kq_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table#khung_kq_table td{
    border: none;
    padding: 0;
}
#khung_kq_table td p, #khung_kq_table th p {
    border: none;
    text-align: left;
}
#khung_kq_table td img{
    text-align: center;
    max-width: 100%;
}

#boder_bottom{
    border-bottom: 1px solid black;
}
#thong_tin tr{
    border-bottom: 1px solid black;
}
#thong_tin td{
    text-align: left;
}